<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.dao.CmsMenuMapper">
  <resultMap id="BaseResultMap" type="com.shop.po.CmsMenu">
    <id column="menu_id" jdbcType="BIGINT" property="menuId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="menu_type" jdbcType="TINYINT" property="menuType" />
    <result column="menu_code" jdbcType="VARCHAR" property="menuCode" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="href" jdbcType="VARCHAR" property="href" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  <sql id="Base_Column_List">
    menu_id, parent_id, menu_type, menu_code, menu_name, sort, href, icon, status, permission, 
    create_time, update_time, remarks
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cms_menu
    where menu_id = #{menuId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cms_menu
    where menu_id = #{menuId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.shop.po.CmsMenu">
    insert into cms_menu (menu_id, parent_id, menu_type, 
      menu_code, menu_name, sort, 
      href, icon, status, 
      permission, create_time, update_time, 
      remarks)
    values (#{menuId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, #{menuType,jdbcType=TINYINT}, 
      #{menuCode,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{href,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{permission,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shop.po.CmsMenu">
    insert into cms_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="menuType != null">
        menu_type,
      </if>
      <if test="menuCode != null">
        menu_code,
      </if>
      <if test="menuName != null">
        menu_name,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="href != null">
        href,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="permission != null">
        permission,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        #{menuId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="menuType != null">
        #{menuType,jdbcType=TINYINT},
      </if>
      <if test="menuCode != null">
        #{menuCode,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null">
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="href != null">
        #{href,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="permission != null">
        #{permission,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.po.CmsMenu">
    update cms_menu
    <set>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="menuType != null">
        menu_type = #{menuType,jdbcType=TINYINT},
      </if>
      <if test="menuCode != null">
        menu_code = #{menuCode,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null">
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="href != null">
        href = #{href,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="permission != null">
        permission = #{permission,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where menu_id = #{menuId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.po.CmsMenu">
    update cms_menu
    set parent_id = #{parentId,jdbcType=BIGINT},
      menu_type = #{menuType,jdbcType=TINYINT},
      menu_code = #{menuCode,jdbcType=VARCHAR},
      menu_name = #{menuName,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      href = #{href,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      permission = #{permission,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR}
    where menu_id = #{menuId,jdbcType=BIGINT}
  </update>
</mapper>