<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.dao.OsAddressMapper">
  <resultMap id="BaseResultMap" type="com.shop.po.OsAddress">
    <id column="address_id" jdbcType="BIGINT" property="addressId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_tag" jdbcType="VARCHAR" property="userTag" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_adress" jdbcType="VARCHAR" property="userAdress" />
    <result column="user_zipcode" jdbcType="INTEGER" property="userZipcode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    address_id, user_id, user_name, user_tag, user_phone, user_adress, user_zipcode, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from os_address
    where address_id = #{addressId,jdbcType=BIGINT}
  </select>

  <select id="selectByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from os_address
    where user_id = #{userId,jdbcType=BIGINT}
  </select>

  <select id="selectByAddressId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from os_address
    where address_id = #{addressId,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from os_address
    where address_id = #{addressId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.shop.po.OsAddress">
    insert into os_address (address_id, user_id, user_name, 
      user_tag, user_phone, user_adress, 
      user_zipcode, create_time, update_time
      )
    values (#{addressId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, 
      #{userTag,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, #{userAdress,jdbcType=VARCHAR}, 
      #{userZipcode,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shop.po.OsAddress">
    insert into os_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="addressId != null">
        address_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userTag != null">
        user_tag,
      </if>
      <if test="userPhone != null">
        user_phone,
      </if>
      <if test="userAdress != null">
        user_adress,
      </if>
      <if test="userZipcode != null">
        user_zipcode,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="addressId != null">
        #{addressId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userTag != null">
        #{userTag,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userAdress != null">
        #{userAdress,jdbcType=VARCHAR},
      </if>
      <if test="userZipcode != null">
        #{userZipcode,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.po.OsAddress">
    update os_address
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userTag != null">
        user_tag = #{userTag,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userAdress != null">
        user_adress = #{userAdress,jdbcType=VARCHAR},
      </if>
      <if test="userZipcode != null">
        user_zipcode = #{userZipcode,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where address_id = #{addressId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.po.OsAddress">
    update os_address
    set user_id = #{userId,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR},
      user_tag = #{userTag,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_adress = #{userAdress,jdbcType=VARCHAR},
      user_zipcode = #{userZipcode,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where address_id = #{addressId,jdbcType=BIGINT}
  </update>
</mapper>